html {
  font-size: 20px;
  min-width: 320px;
  max-width: 414px;
  margin: 0 auto;
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22px !important;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23px !important;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px !important;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 26px !important;
  }
}
body {
  background-color: #E6E6E6;
}
.container-fluid {
  padding: 0;
}
.container-fluid .navbar-fixed-top {
  min-width: 320px;
  max-width: 414px;
  margin: 0 auto;
}
.container-fluid .navbar-header {
  height: 50px;
  width: 100%;
  background-color: #ED0000;
}
.container-fluid #btnback {
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  margin: 10px 0px 10px 0.6rem;
  float: left;
}
.container-fluid #duihua {
  position: absolute;
  top: 11px;
  height: 27px;
  right: 8px;
}
.container-fluid .content {
  margin-top: 85px;
  margin-bottom: 55px;
}
.backico {
  overflow: hidden;
  width: 25px;
}
.backico:before {
  content: '';
  height: 20px;
  width: 20px;
  display: block;
  border: 3px solid #ffffff;
  border-right-width: 0;
  border-bottom-width: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  position: absolute;
  top: 4px;
  left: 4px;
}
.title {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  display: block;
  margin-left: -30px;
}
/*垂直分割线*/
.vdevider {
  width: 1px;
  height: 40%;
  background-color: #F87155;
  float: left;
  margin: 5px 0px 5px -1px;
  position: absolute;
  right: 50px;
  top: 6px;
}
.filtervdevider {
  width: 1px;
  height: 70%;
  background-color: #B5B5B5;
  display: inline;
  float: left;
  margin-top: 0.1rem;
}
.devider {
  height: 1px;
  background-color: #D3D3D3;
}
/*筛选条件栏*/
.navbar-filter {
  height: 30px;
  width: 100%;
  background-color: #ffffff;
  clear: both;
}
/*筛选标题的字*/
.filter-title {
  height: 30px;
  width: 33.3%;
  float: left;
  padding-left: 1px;
  position: relative;
  color: #666666;
}
.filter-title span {
  line-height: 30px;
  color: #636363;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.7rem;
}
.redline {
  width: 100%;
  height: 3px;
  background-color: #DB2D00;
  display: inline;
  position: absolute;
  top: 27px;
}
.carousel-inner > .item > img {
  height: 100%;
  width: 100%;
}
.carousel-indicators {
  bottom: -10px;
}
.carousel-indicators li {
  width: 8px;
  height: 8px;
  margin: 0;
}
.carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 0;
}
.carousel-inner > .active {
  height: 100%;
  width: 100%;
}
.lsnewsitem {
  background-color: #fff;
  padding: 0.2rem 0.25rem;
  margin-bottom: 0.2rem;
}
.itemtitle {
  margin-bottom: 0;
  font-size: 0.6rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newlj {
  color: #17ACB6;
}
.newc {
  font-size: 0.3rem;
  color: #6B6B6B;
}
